#contactMe {
  text-align: center;
  margin-top: 40px;
  font-size: 3rem;
  color: #3178c6;
}

#line {
  margin-left: 40%;
  margin-right: 40%;
  border: 1px solid #3178c6;
}

#btnSend {
  background-color: #3178c6;
  color: white;
}
